{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        <h3>Liste des contrats</h3>
        
        <table class="table">
            <thead>
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
                <th scope="col">Debut</th>
                <th scope="col">Fin</th>
                <th scope="col">Statut</th>
                <th></th>
            </thead>
            <tbody>
                {% for contrat in contrats %}
                    <tr>
                        <th scope="row">{{contrat.interimaire.prenom|capitalize}}</th>
                        <td>{{contrat.interimaire.nom|upper}}</td>
                        <td>{{contrat.debut|date('d/m/Y')}}</td>
                        <td>{{contrat.fin|date('d/m/Y')}}</td>
                        <td>{{contrat.statut}}</td>
                        <td>
                            <a href="{{path('editContrat')}}/{{contrat.idContrat}}" 
                               style="margin-right: 10px;">Modifier</a>
                            <a class="delete" 
                               data-confirm="Etes vous sur de vouloir supprimer cette ligne ?"
                               data-redirect="{{path('deleteContrat')}}/{{contrat.idContrat}}"
                            >Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div>
            <a style="float:right;" href="{{path('createContrat')}}">Ajouter</a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function(){
           $('table .delete').on('click', function(){
               var message = $(this).attr('data-confirm');
               var redirectUrl = $(this).attr('data-redirect');
               
               var shouldProceed = confirm("Etes vous sur de vouloir supprimer cette ligne ?");
               if(shouldProceed) {
                   window.location.href = redirectUrl;
               }
           }) 
        });
    </script>
{% endblock %}
