{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        {% if contrat.getIdContrat() is not null %}
            <h3>Modification du contrat {{contrat.interimaire.prenom}} {{contrat.interimaire.nom|upper}} - {{contrat.debut|date("d/m/Y")}}</h3>
        {% else %}
            <h3>Création d'un nouveau contrat</h3>
        {% endif %}
        
        <p>
            Saisissez "Fab" dans le champs interimaire, afin d'obtenir des données lors de la recherche ajax
        </p>
        
        {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'method': 'post'}}) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}