<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Prospectiva exercice</title>

    <!-- Bootstrap -->
    {% block stylesheets %}
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/site.css') }}" rel="stylesheet">
        <link href="{{ asset('css/selectize.css') }}" rel="stylesheet">
        <link href="{{ asset('css/selectize.bootstrap3.css') }}" rel="stylesheet">
    {% endblock %}
  </head>
  
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Prospectiva</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            {# idealement il vaudrait mieux utiliser une extension twig pour afficher le menu proprement #}
            {% set menuClass = '' %}
            {% if(app.request.attributes.get('_route') in ['homepage']) %}
                {% set menuClass = 'active' %}
            {% endif %}
            <li class="{{menuClass}}"><a href="{{path('homepage')}}">Accueil</a></li>
            
            {% set menuClass = '' %}
            {% if(app.request.attributes.get('_route') in ['listContrat', 'editContrat', 'createContrat']) %}
                {% set menuClass = 'active' %}
            {% endif %}
            <li class="{{menuClass}}"><a href="{{path('listContrat')}}">Contrats</a></li>
            
            {% set menuClass = '' %}
            {% if(app.request.attributes.get('_route') in ['getContratStatistique']) %}
                {% set menuClass = 'active' %}
            {% endif %}
            <li class="{{menuClass}}"><a href="{{path('getContratStatistique')}}">Statistique</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-dismissible alert-{{ label }}" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
      
   {% block content %}
   {% endblock %}
      
    {% block javascripts %}
        <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/selectize.js') }}"></script>
        <script src="{{ asset('js/common.js') }}"></script>
    {% endblock %}
  </body>
</html>