{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        <h3>Export des contrats</h3>
        <p>
            Afin d'obtenir des données dans le fichier csv, sélectionnez le 1er janvier 2013 en entrée
            et le 1er janvier 2023 en sortie
        </p>
        
        {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'method': 'post'}}) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}